
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .card {
      width: 100%;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 20px;
      button:hover{ 
      transform: 10px;
       background-color: rgb(242, 49, 10);
       color: #fff;
       font-size: 20px;
      }
      img {
        width: max-content;
        height: 250px;
        object-fit: contain;
      }
      
      
    }
    padding: 60px 0;
  }
  button:active {
        background-color: rgb(255, 255, 255);
        
        
      }
  button {
    transition: .5s;
    width: 257px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
  
  .col {
    grid-template-columns: 1fr;
  
    .card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
  }
  
  .btns {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    padding-top: 50px;
  
    div {
      cursor: pointer;
    }
  }


  


